@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: rgb(44, 78, 78);
  font-family: Poppins, arial, helvetica;
  color: rgb(209, 209, 209);
}

header {
  padding: 10px;
}

section {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(166, 211, 211);
  color: black;
  font-family: inherit;
  font-size: 18px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.meal_button:hover {
  background-color: rgb(74, 206, 206);
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: rgb(44, 78, 78);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(74, 206, 206);
}

.section_1 {
  font-size: 24px;
}

.hidden {
  display: none;
}

.footer {
  font-size: 12px;
  padding: 10px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_items {
  display: flex;
  flex-direction: row;
}

.github_logo,
.portfolio_logo {
  padding: 5px;
  width: 65px;
  height: 65px;
}

/* MOBILE STYLES */

@media only screen and (max-width: 768px) {
  .family_picture {
    max-width: 100%;
    height: auto;
  }

  .header_title {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }

  .button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .meal_image {
    border-radius: 10px;
    width: 225px;
    height: 225px;
  }

  .meal {
    margin-top: 2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .ingredients_list {
    padding: 15px;
  }
}

/* BIGGER SCREEN STYLES */

@media only screen and (min-width: 768px) {
  .family_picture {
    max-width: 25%;
    height: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_title {
    font-size: 48px;
    font-weight: 500;
  }

  .section_1 {
    display: flex;
    justify-content: center;
  }

  .button {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  .meal_button {
    width: 25%;
  }

  .meal {
    font-family: inherit;
    margin-top: 2rem;
  }

  .meal_image {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .meal_info {
    display: flex;
    flex-direction: column;
  }

  .meal_name {
    font-size: 48px;
  }

  .meal_instructions {
    font-size: 18px;
    margin-right: 6rem;
  }

  .meal_ingredients {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .ingredients_list {
    margin-left: 4rem;
  }
}
